html {
  scroll-behavior: smooth; /*Scroll suave*/
}

/*==== VARIABLES GLOBALES DE COLOR ====*/
:root {
  --bg-main: #f9f9f9;

  --bg-success: #a5dc86;
  --bg-warning: #f8bb86;
  --bg-danger: #f27474;

  --bg-unread: #fff;
  --bg-read: #f8f9fa;

  --text-blue: #65739f;
  --text-dark-blue: #604274;
  --text-purple: #aa39ad;
  --text-dark-purple: #604274;
  --text-green: #000000;
  --text-gray: #444444;

  --bg-red: #f7cece;
  --text-red: #dd6464;
}

/*Fondo general*/
.bg-main {
  background-color: var(--bg-main) !important;
}

.bg-green-success {
  background-color: var(--bg-success);
}
.bg-orange-warning {
  background-color: var(--bg-warning);
}
.bg-red-danger {
  background-color: var(--bg-danger);
}
.txt-green-success {
  color: var(--bg-success);
}
.txt-orange-warning {
  color: var(--bg-warning);
}
.txt-red-danger {
  color: var(--bg-danger);
}

/*=== PERFIL ===*/
.border-purple {
  border-color: #6c63ff !important;
  border-radius: 3px !important;
}
.border-blue {
  border-color: #65739F !important;
}

/*==== CURSOS ====*/
.course-body-height {
  height: 12rem !important;
  overflow-y: hidden;
}
.image-overlay {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
  pointer-events: 'none';
}
.recharts-wrapper :focus {
  outline: none !important;
}

/*=== PERSONALIZACION DE BADGES (ESTADOS) ===*/
.badge-green-color {
  background-color: #e6f6eb;
  color: #426053;
}
.badge-purple-color {
  background-color: #8e44ad;
  color: #ffff;
}
.badge-pink-color {
  background-color: #f8e0f9;
  color: #8e44ad;
}
.badge-blue-color {
  background-color: #e6f4fe;
  color: #3c5983;
}
.badge-red-color {
  background-color: var(--bg-red);
  color: var(--text-red);
}
.badge-gray-color {
  background-color: #e9e7e7;
  color: #3b3a3b;
}

/*background-color: #aa39ad; FIUCSA
  background-color: #F7EDFE; lila
  color: #654980; morado*/

/*=== TIPOGRAFIA ===*/
.text-blue {
  color: var(--text-blue);
}
.text-purple {
  color: var(--text-purple);
}
.text-dark-purple {
  color: var(--text-dark-purple);
}
.text-pink {
  color: #aa39ad;
}
.text-gray {
  color: var(--text-gray);
}
body {
  overflow-x: hidden;
}

/*=== SIDEBAR ===*/
.bg-lila {
  background-color: #faf5fe;
}

/*==== SESIONES ====*/
.session-content {
  text-align: initial !important;
}
.session-content .ql-align-center {
  text-align: center !important;
}
.session-content .ql-align-right {
  text-align: right !important;
}
.session-content .ql-align-justify {
  text-align: justify !important;
}
.session-acordeon:hover {
  border-left: 2px solid #6c63ff;
}

/*==== NOTIFICACIONES ====*/
.notification-card {
  transition: opacity 0.5s ease, transform 0.5s ease !important;
  opacity: 1 !important;
  transform: translateY(0) !important;
}
.notification-card.fade-out {
  opacity: 0 !important;
  transform: translateY(-10px) !important;
}
.bg-notifications {
  background-color: var(--bg-unread) !important;
  transition: background-color 0.2s ease, filter 0.2s ease;
}
.bg-notifications:hover,
.bg-notifications:active {
  filter: brightness(0.95);
}
.bg-notifications-read {
  background-color: var(--bg-read) !important;
  transition: background-color 0.2s ease, filter 0.2s ease;
}
.bg-notifications-read:hover,
.bg-notifications-read:active {
  filter: brightness(0.93);
}

/*==== FINANZAS ====*/
.recharts-wrapper :focus {
  outline: none !important;
}

/*==== SIDEBAR ====*/
.sidebar button,
.sidebar button:focus,
.sidebar button:active,
.sidebar button:hover {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}
.sidebar .btn:hover,
.sidebar .btn:focus,
.sidebar .btn:active {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}
.sidebar-btn-default {
  color: #444444 !important;
  border-bottom: 0px !important;
  border-top: 0px !important;
  border-left: 0px !important;
}
.sidebar-btn-hover {
  background-color: #e9ecef !important;
  color: #800080 !important;
  border-right: 4px solid #aa39ad !important;
  border-bottom: 0px !important;
  border-top: 0px !important;
  border-left: 0px !important;
}
.sidebar-btn-hover:active,
.sidebar-btn-default:active {
  border-bottom: 0px !important;
  border-top: 0px !important;
  border-left: 0px !important;
}

/*==== BUSCADOR ====*/
.search-container {
  box-sizing: border-box;
  width: 40px;
  transition: width 0.3s ease;
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 0.375rem;
  background: #f8f9fa;
  height: 38px;
  display: flex;
  align-items: center;
  border-radius: 25px;
}

.search-icon {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  padding: 0 0.7rem;
}

.search-input {
  border: none;
  background: transparent;
  outline: none;
  opacity: 0;
  width: 0;
  flex: 0;
  transition: opacity 0.3s ease, width 0.3s ease;
}

/*=== TOAST ===*/
.p-toast-icon-close,
.p-toast-icon-close-icon {
  background: transparent !important;
  color: #ffffff !important;
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
}

.p-toast-message-text {
  text-align: left !important;
}

/*====RESPONSIVIDAD PANTALLAS MEDIANAS O SUPERIOR====*/
@media screen and (min-width: 576px) {
  .img-container {
    width: 10rem;
    justify-items: center;
  }

  .course-width {
    width: 18rem !important;
  }
}

/*====RESPONSIVIDAD PARA EL INPUT DE BÚSQUEDA====*/
/* Para pantallas medianas o superiores */
@media (min-width: 768px) {
  .search-container:hover,
  .search-container:focus-within,
  .search-container:has(.search-input:not(:placeholder-shown)) {
    width: 200px;
  }
  .search-container:hover .search-input,
  .search-container:focus-within .search-input,
  .search-container:has(.search-input:not(:placeholder-shown)) .search-input {
    opacity: 1;
    width: 100%;
    flex: 1;
  }
}

/* Para pantallas pequeñas */
@media (max-width: 767px) {
  .search-container:hover,
  .search-container:focus-within,
  .search-container:has(.search-input:not(:placeholder-shown)) {
    width: 90px;
  }
  .search-container:hover .search-input,
  .search-container:focus-within .search-input,
  .search-container:has(.search-input:not(:placeholder-shown)) .search-input {
    opacity: 1;
    width: 100%;
    flex: 1;
  }
}
