.bg-main {
    background-color: #F9F9F9 !important; 
}

.course-body-height {
    height: 12rem !important;
    overflow-y: hidden;
}

.border-purple {
    border-color: #6C63FF !important;
    border-radius: 3px !important;
}

.image-overlay {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
    pointer-events: 'none';
}

body {
    overflow-x: hidden;
}

.session-content {
/* Restablece la alineación por defecto del navegador */
text-align: initial !important;
}
/* Y aplica la alineación que Quill genera en sus clases */
.session-content .ql-align-center {
text-align: center !important;
}
.session-content .ql-align-right {
text-align: right !important;
}
.session-content .ql-align-justify {
text-align: justify !important;
}
  
@media screen and (min-width: 576px) {
    .img-container {
        width: 10rem;
        justify-items: center;
    }

    .course-width {
        width: 18rem !important;
    }
}
